// Third party css library
@import url('../libs/bootstrap/css/bootstrap.min.css');
@import url('../libs/fontawsome/5.0.6/web-fonts-with-css/css/fontawesome-all.css');
@import url('../libs/themify-icons/themify-icons.css');
@import url('../libs/jquery/jquery-ui/css/jquery-ui.min.css');
@import url('../libs/jquery/jquery-mCustomScrollbar/css/jquery.mCustomScrollbar.min.css');
@import url('../libs/jquery/wizard/css/jquery.steps.css');
@import url('../libs/jquery/select2/css/select2.min.css');
@import url('../libs/jquery/datepicker/css/bootstrap-datepicker3.css');
@import url('../libs/datatables/css/dataTables.bootstrap4.min.css');
@import url('../libs/datatables/Responsive-2.2.1/css/responsive.bootstrap4.css');


// local css files
@import 'mixins';
@import 'loader';
@import 'checkboxToggle';
@import '../app/header/header';
@import '../app/aside/aside';
@import '../app/widgets/widgetContainer';
@import 'theme_chiller';
body {
    overflow: hidden; 
    background: white;
}

#main {
    width: 100vw;
    height: calc(100vh - 56px);
    margin-top: 56px;
    overflow: hidden;
    position: relative;
    background: white;
    #mapDiv {
        width: 100%;
        height: 100%;
    }
}

#footer {
    position: fixed;
    z-index: 9999;
    width: 100%;
    bottom: 0;
    left: 0;
}

.form-control,
.btn,
.input-group-text {
    @include border-radius(0);
}

.basemapContainer {
    position: absolute;
    top: 15px;
    right: 15px;
    max-height: calc(100% - 30px);
    transition: right .5s;
    &.hidden {
        right: -250px;
    }
}

.esriBasemapGalleryNode {
    float: none;
    width: auto;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 6px 7px;
    position: relative;
    &.esriBasemapGallerySelectedNode {
        background: #f1f1f1;
    }
    &:hover {
        background: #f8f9fa;
    }
    a {
        flex-grow: 1;
        position: relative;
        z-index: 2;
        .esriBasemapGalleryThumbnail {
            height: 64px;
            width: 64px;
            border: none;
            margin: 1px;
            -moz-box-shadow: 0 0 0 1px rgba(50, 50, 50, 0.25);
            -webkit-box-shadow: 0 0 0 1px rgba(50, 50, 50, 0.25);
            box-shadow: 0 0 0 1px rgba(50, 50, 50, 0.25);
            &.esriBasemapGallerySelectedNode {
                border: 2px solid #F99;
            }
        }
    }
    .esriBasemapGalleryLabelContainer {
        background-color: transparent;
        text-align: left;
        width: auto;
        height: auto;
        overflow: auto;
        font-size: .7rem;
        padding: 5px;
        position: absolute;
        left: 75px;
        z-index: 1;
        color: #6e6e6e;
    }
}

.esriLayerList .esriContainer {
    background-color: #f3f3f3;
    color: initial;
    border: none;
    padding: 10px 0px;
    .esriLayer {
        .esriTitle {
            background-color: #fff;
            border-bottom: 1px solid rgba(50, 50, 50, 0.25);
            transition: padding 250ms ease-in-out;
            margin-bottom: 2px;
            .esriTitleContainer {
                border-top: none;
                .esriLabel {
                    font-family: 'CalciteWebCoreIcons' !important;
                    speak: none;
                    font-style: normal;
                    font-weight: normal;
                    font-variant: normal;
                    text-transform: none;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    &:hover {
                        cursor: pointer;
                    }
                    &:before {
                        content: "\e68d";
                        font-family: 'CalciteWebCoreIcons';
                        position: absolute;
                        left: 10px;
                    }
                }
                input[type="checkbox"] {
                    display: none;
                    &:checked~.esriLabel {
                        color: #888;
                        &:before {
                            content: "\e68e";
                        }
                    }
                }
            }
        }
    }
}

.esriControlsBR {
    display: none;
}

.arcgisSearch {
    position: absolute;
    right: 10px;
    top: 20px;
    .showSources .sourcesMenu {
        width: 100%;
    }
    .searchGroup .searchInput{
        @media (max-width: 400px) {
            width: 155px;
        }
    }
}

.scalebar_bottom-right {
    right: 160px;
}

.dataTables_wrapper > .row > div {
    max-width: 100%;
}


input.error {
    border: 1px solid #dc3c23;
    color: #dc3c23;
}

label.error {
    color: #ff3111;
    display: inline-block;
}

//---------------------------------------------